:root {
  --very-dark-gray: #2a2a2a;
  --white: #ffffff;
  --light-gray: #cccccc;
  --dark-grayish-blue: #96979f;
  --very-dark: #15171a;
  --very-dark-blue: #222529;
  --very-dark-desaturated-blue: #44546a;
}